*{
    margin: 0px;
    padding: 0px;
}
body{
    background: black;
    font-size: 16px;
    margin: 10px 5% 0 5%;
}
h2{
    font-size: 20px;
    background: liner-gradient(to right,red,Snow);
}
h3{
    font-size: 18px;
    margin: 0px;
    padding: 0px
}
#hellotab,#general,#objective,#skillareas,
#history,#awards,#lastModified{
    
    background-color: yellowgreen;
    border: 1px black solid;
}
#header{
    float: left;
    width: 20%;
    
}

#hellotab,#general,#objective,#skillareas,
#history,#awards,#lastModified{
    float: right;
    width:79%;
}
#content{
    background-color: 	LemonChiffon;
}
#copyright{
    background-color: 	LemonChiffon;
    text-align: center;
}
ol,ul,li{
    list-style-position:inside;
}
ol{
    list-style-type:none;
}